USE [TestTaskDB]
GO

ALTER PROCEDURE [dbo].[sp_report_1]
    @date_from DATE,
    @date_to DATE,
    @good_group_name NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    -- Преобразование дат в формат INT для связи с таблицей фактов
    DECLARE @date_from_int INT = CAST(REPLACE(CONVERT(VARCHAR(10), @date_from, 120), '-', '') AS INT);
    DECLARE @date_to_int INT = CAST(REPLACE(CONVERT(VARCHAR(10), @date_to, 120), '-', '') AS INT);

    -- Создание временной таблицы для фильтрации по нескольким группам
    IF OBJECT_ID('tempdb..#SelectedGroups') IS NOT NULL DROP TABLE #SelectedGroups;
    CREATE TABLE #SelectedGroups (group_name NVARCHAR(255));

    DECLARE @temp_group_list NVARCHAR(MAX) = @good_group_name + ',';
    WHILE CHARINDEX(',', @temp_group_list) > 0
    BEGIN
        DECLARE @pos INT = CHARINDEX(',', @temp_group_list);
        DECLARE @val NVARCHAR(255) = LTRIM(RTRIM(SUBSTRING(@temp_group_list, 1, @pos - 1)));
        IF @val <> '' INSERT INTO #SelectedGroups (group_name) VALUES (@val);
        SET @temp_group_list = SUBSTRING(@temp_group_list, @pos + 1, LEN(@temp_group_list));
    END

    -- Основной запрос отчета
    SELECT
        d.d AS [Дата],
        s.store_name AS [Аптека],
        g.group_name AS [Группа товара],
        g.good_name AS [Номенклатура],
        SUM(f.quantity) AS [Продажи шт.],
        SUM(f.sale_net) AS [Продажи руб., с НДС],
        
        -- Расчет новых показателей без НДС (предполагаем ставку 20%)
        AVG(f.cost_net / 1.2) AS [Средняя цена закупки руб., без НДС], 
        SUM((f.sale_net / 1.2) - (f.cost_net / 1.2)) AS [Маржа руб., без НДС],
        
        -- Наценка в процентах
        CASE 
            WHEN SUM(f.cost_net) = 0 THEN 0 
            ELSE (SUM(f.sale_net / 1.2) - SUM(f.cost_net / 1.2)) / NULLIF(SUM(f.cost_net / 1.2), 0) * 100.0 
        END AS [Наценка % без НДС],
        
        -- Доля продаж от ОБЩЕГО итога всей таблицы
        CAST(SUM(f.sale_net) * 100.0 / NULLIF(SUM(SUM(f.sale_net)) OVER(), 0) AS DECIMAL(18,4)) AS [Доля продаж с НДС товара, %]

    FROM [dbo].[fct_cheque] AS f
    INNER JOIN dim_goods AS g ON g.good_id = f.good_id
    INNER JOIN [dim_stores] AS s ON s.store_id = f.store_id
    INNER JOIN dim_date AS d ON d.did = f.date_id
    WHERE f.date_id BETWEEN @date_from_int AND @date_to_int
      AND (@good_group_name = 'ВСЕ' OR g.group_name IN (SELECT group_name FROM #SelectedGroups))
    GROUP BY d.d, s.store_name, g.group_name, g.good_name
    
    -- Сортировка по убыванию доли продаж
    ORDER BY [Доля продаж с НДС товара, %] DESC;

    IF OBJECT_ID('tempdb..#SelectedGroups') IS NOT NULL DROP TABLE #SelectedGroups;
END;
